<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#mycarousel').jcarousel({
          scroll: 1
        });
    });
  </script>
<% end -%>

<div class="page-header">
  <h1><%= @category.en_name %>/<%= @category.se_name %></h1>
</div>

<%= link_to "图片管理", admin_photos_path, :class => "btn btn-primay" %>

<ul id="mycarousel" class="jcarousel-skin-tango">
  <% @photos.each_with_index do |photo, index| %>
    <li><%= image_tag photo.poster_url(:thumb), :size => "800*500"%></li>
  <% end %>
</ul>
