<div class="check alert alert-info">
<%= simple_form_for check, :url => add_category_path(@category), :remote => true, :class => "check-form" do |f| %>
	<% @varieties.each_with_index do |variety, index| %>
		<br/><br/>
		<div class="radio-toolbar">
			<div><%= show_value_with_language(variety, "name") %></div>
			<% @tags[index].sort{|tag| tag.row_order }.each_with_index do |tag, i| %>
			<label class="radio">
				<% if @variety && value = @variety[index.to_s]  %>
					<%= radio_button("variety", index, tag.id, :checked =>  value.to_i == tag.id) %>
				<% else %>
					<%= radio_button("variety", index, tag.id, :checked => i == 0) %>
				<% end -%>
				<%= show_value_with_language(tag, "name") %>
			</label>
			<% end %>
		</div>
	<% end %>
	<br/><br/>
	<%= f.input :num, :collection => 1..1000, :label => (session[:local] == "en" ? "number" : "nummer"), :include_blank => false %>
	<%= hidden_field_tag "check[code]", @code.to_s %>
	<%= submit_tag "Save order", class: "btn check-submit", :disable_with => "Please wait..." %>
		
	<% if check.id %>
		<%= link_to "#", :"data-url" => cancel_check_category_path(@category, :check_id => check, :code => @code), :class => "btn edit_check" , :confirm => "are you sure?" do %>
			<i class="icon-remove-sign"></i> Cancel
		<% end %>
	<% else %>
		<%= link_to "#", :class => "btn cancel_check_without_id" , :confirm => "are you sure?" do %>
			 <i class="icon-remove-sign"></i> Cancel
		<% end %>
	<% end %>
<% end %>
</div>