<div class="check alert alert-info" style="position:relative">
	<div style="width:70%;">
		<table class="table table-bordered ">
			<tr>
				<th><%= session[:local] == "en" ? "number:" : "nummer:" %></th>
				<td><%= check.num %></td>
			</tr>
			<% check.varieties.each do |variety| %>
			<tr>
				<th><%= show_value_with_language(variety.parent, "name") %>:</th>
				<td><%= show_value_with_language(variety, "name") %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="cancel-btn">
		<%= link_to "#", :"data-url" => cancel_check_category_path(@category, :check_id => check, :code => @code), :class => "cancel_check", :confirm => "are you sure?" do %>
			<div class="trash-image"></div>
		<% end %>
	</div>
	<%#= link_to "edit_order", "#", :"data-url" => edit_check_category_path(@category, :check_id => check, :code => @code), :class => "btn edit_check"%>
</div>

