<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Restaurant</title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "admin", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "ckeditor/init" %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "shadowbox", :media => "all" %>
	<%= javascript_include_tag "shadowbox" %>
	<script type="text/javascript">
	    Shadowbox.init();
	</script>
	<%= yield :head %>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".cancel").live("click", function() {
				window.parent.Shadowbox.close();
			});
			
			$(".ok").live("click", function() {
				var p$ = window.parent.$;
				p$(".loading").show();
				p$("a").href = "#";
				p$("a").unbind("click");
				p$("form").action = "#";
				window.parent.location.href = $(this).attr('data-url');
				window.parent.Shadowbox.close();
			})
		})
	</script>
</head>
<body>
	<h2 class="page-header" style="padding-left: 130px">the order detail</h2>
	<div id="main-container" class="container">
		<h2> Your Information </h2>
		<table class="table table-bordered table-striped">
			<tr>
				<th>
					name
				</th>
				<td>
					<%= @order.name %>
				</td>
			</tr>
			<tr>
				<th>
					address
				</th>
				<td>
					<%= @order.address %>
				</td>
			</tr>
			<tr>
				<th>
					telephone
				</th>
				<td>
					<%= @order.telephone %>
				</td>
			</tr>
			<tr>
				<th>
					description
				</th>
				<td>
					<%= @order.description %>
				</td>
			</tr>
		</table>
		<h2> the order list</h2>
		<% @checks.each do |check| %>
			<table class="table table-bordered table-striped">
				<tr>
					<th>
						number
					</th>
					<td>
						<%= check.num %>
					</td>
				</tr>
				<% check.varieties.each do |variety| %>
				<tr>
					<th>
						<%= session[:local] == "en" ? variety.parent.en_name : variety.parent.se_name %>:
					</th>
					<td>
						<%= session[:local] == "en" ? variety.en_name : variety.se_name %>
					</td>
				</tr>
				<% end %>
			</table>
		<% end %>
		<style type="text/css">
			.btn-primary {
				width: 100px;
			}
		</style>
		<%= link_to "OK", "#", :"data-url" => ok_category_path(@category, :code => @code, :order_id => @order.id), :class => "btn btn-primary ok" %>
		<%= link_to "Cancel", "#", :class => "btn cancel" %>
	</div>

</body>
</html>