<%= content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".check-submit").live("click", function(event) {
				event.preventDefault();
				var self = this;
				$.ajax({
					type: 'POST',
					url: $(this).closest("form").attr('action'),
					data: $(this).closest("form").serialize(),
					dataType: 'json',
					success: function(json) {
						$(json).insertAfter($(self).closest(".check"));
						$(self).closest(".check").remove();
					}
				})
			})
			
			$(".add_check").live("click", function(event) {
				event.preventDefault();
				var self = this;
				$.ajax({
					type: 'GET',
					url: $(this).attr('data-url'),
					data: $(this).closest("form").serialize(),
					dataType: 'json',
					success: function(json) {
						$(".checks").append(json);
					}
				})
			})
			
			$(".edit_check").live("click", function(event) {
				event.preventDefault();
				event.stopPropagation();
				var self = this;
				$.ajax({
					type: 'GET',
					url: $(this).attr('data-url'),
					data: $(this).closest("form").serialize(),
					dataType: 'json',
					success: function(json) {
						$(json).insertAfter($(self).closest(".check"));
						$(self).closest(".check").remove();
					}
				})
				return false;
			})
			
			$(".cancel_check").live("click", function(event) {
				event.preventDefault();
				var self = this;
				$.ajax({
					type: 'GET',
					url: $(this).attr('data-url'),
					data: $(this).closest("form").serialize(),
					dataType: 'json',
					success: function(json) {
						$(self).closest(".check").remove();
					}
				})
				return false;
			})
			
			$(".cancel_check_without_id").live("click", function(event) {
				event.preventDefault();
				$(this).closest(".check").remove();
			})
		})
	</script>
<% end %>
<div id="menu" class="content">
	<div class="introduction">
	<%=raw show_value_with_language(@item, "content") %>
	</div>
	<div class="order">
		<div class="checks">
			<span> Your order </span>
			<% @checks.each do |check, index| %>
			<%= render :partial => "check_form", :locals => {:check => check, :check_index => index} %>
			<% end %>
		</div>
		<br/>
		<%= link_to "add_new_order", "#", :"data-url" => add_check_category_path(@category, :code => @code), :class => "btn add_check"%>
		<div class="information">
			<%= render :partial => "menu_form" %>
		</div>
	</div>
</div>