<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Restaurant</title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "admin", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "ckeditor/init" %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="shadowbox.css">
	<script type="text/javascript" src="shadowbox.js"></script>
	<%= stylesheet_link_tag "shadowbox", :media => "all" %>
	<%= javascript_include_tag "shadowbox" %>
	<%= stylesheet_link_tag "skin", :media => "all" %>
	<%= javascript_include_tag "jquery.jcarousel.min" %>
	<script type="text/javascript">
	    Shadowbox.init();
	</script>
	<%= yield :head %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Restaurant</a>

			<% if user_signed_in? %>
			<ul class="nav">
				<li>
					<%= link_to "页面管理", admin_messages_path %>
				</li>
				<li>
					<%= link_to "模块管理", admin_categories_path %>
				</li>
				<li>
					<%= link_to "图片管理", admin_photos_path %>
				</li>
			</ul>

			<ul class="nav pull-right">
				<li class=""><a href="#"><%= current_user.email %></a></li> 
				<li class=""><%= link_to '注销', destroy_user_session_path, :method => 'delete' %></li>
			</ul>
			<% end %>

		</div>
	</div>
</div>

<% if content_for?(:sidebar) %>
	<div id="main-container" class="container-fluid">
		<div class="row-fluid">
			<div class="span2 sidebar">
				<%= yield(:sidebar) %>
			</div>
			<div class="span10">
				<% flash.each do |name, message| %>
				<div class="alert alert-<%= name %> fade in">
					<button class="close" data-dismiss="alert">×</button>
					<%= message %>
				</div>
				<% end %>
				
				<%= yield %>
			</div>
		</div>
	</div>
<% else %>
	<div id="main-container" class="container">
		<% flash.each do |name, message| %>
		<div class="alert alert-<%= name %>">
			<button class="close" data-dismiss="alert">×</button>
			<%= message %>
		</div>
		<% end %>
		<%= yield %>
	</div>
<% end %>

<footer></footer>

</body>
</html>
