<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class=" ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Beni's home </title>
    <meta name="viewport" content="width=device-width, user-scalable=yes initial-scale=1.0, minimum-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "menu", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>

<body class="home blog" >

<div id="canvas">
	<div id="social-icons">
		<a href="http://facebook" class="facebook">Facebook</a>
		<a href="http://twitter" class="twitter">Facebook</a>
		<div id="dropdown" class="dropdown">
			<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
				<%= session[:local] == "en" ? "English" : "svenska" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				<li><%= link_to "English", categories_path(:local => "en"), :tabindex => "-1" %></li>
				<li class="divider"></li>
				<li><%= link_to "svenska", categories_path(:local => "se"), :tabindex => "-1" %></li>
			</ul>
		</div>
	</div>
	<ul class="skip">
		<li><a href=".menu">Skip to navigation</a></li>
		<li><a href="#primaryContent">Skip to main content</a></li>
		<li><a href="#secondaryContent">Skip to secondary content</a></li>
		<li><a href="#footer">Skip to footer</a></li>
	</ul>

	<div id="header-wrap">
		<div id="header"> 
			<h1 id="site-title">
				<span>
					<a href="#" title="restaurant" rel="home">Beni's home</a>
				</span>
			</h1>
			<div id="site-description">Making things a little sweeter</div>   
      <!--by default your pages will be displayed unless you specify your own menu content under Menu through the admin panel-->
		</div> <!-- end #header-->
	</div> <!-- end #header-wrap-->
	<div id="secondaryContent">
		<ul>
			<li id="linkcat-2" class="linkcat">Menus
				<ul class='xoxo blogroll'>
					<% @categories.each do |category| %>
					<li>
						<%= link_to show_value_with_language(category, "name"), category_path(category) %>
					</li>
					<% end %>
				</ul>
			</li>
		</ul>
	</div>
	<div id="primaryContent">
		<%= yield %>
	</div>
</div>
<div id="footer">
	<p>Copyright &copy; 2013  Beni's home </p>
</div>
</div>

</body>
</html>