<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="header">
	<div class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:local] == "en" ? "English" : "svenska" %></a>
		<ul class="dropdown-menu">
			<li><%= link_to "English", categories_path(:local => "en") %></li>
			<li><%= link_to "svenska", categories_path(:local => "se") %></li>
		</ul>
	</div>
</div>
<div class="wrapper">
	<%= yield %>
</div>
<div class="footer">
	Copyright 2012@12 高工科技
</div>
</body>
</html>
